Loaded the view for vote
<!DOCTYPE html>

<html>
<head></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            row goes here
        </div>
    </div>
</div>
</body>
</html>